.info {
  display: block;
  position: fixed;
	font-size: 1.5rem;
}

.MeshLambertMaterial {
	top: 100px;
  left: 310px;
	text-align: center;
	z-index: 100;
}

.LineDashedMaterial {
	top: 100px;
	width: 100%;
	text-align: center;
	z-index: 100;
}

.MeshNormalMaterial {
	top: 100px;
  right: 310px;
	text-align: center;
	z-index: 100;
}
